.boby{
    margin: 0px;
    padding: 0px;
}

.workspace{
    height: 100vh;
    width: 100vw;
    /* border: 2px solid red; */
    overflow: hidden;
    display: flex;
   

}
.allposts{
    height: 93%;
    width: 100%;
    /* border: 2px solid violet; */
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.allposts::-webkit-scrollbar{
   display: none;
}

.formcon{
    height: 93%;
    width: 40%;
    padding: 10px;
  
   background-image: linear-gradient(to right, white , #ECE7E2);
    /* border: 2px solid gray; */
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form h1{
  color:  #193f31;
  font-weight: 900;
  margin: 10px;
}
form input , textarea{
  width: 90%;
  margin: 10px;
}

.buttons{
    height: 30px;
    /* border: 1px solid black; */
 padding: 5px;
 display: flex;
}
form button{
    padding: 5px 120px;
    background-color: #193f31;
    border-radius: 20px;
    color: #ECE7E2;
    font-weight: 900;
    margin: 10px;
    border: none;
}
.update{
    position: absolute;

}
